extends ../layout

block content
	header.page-header
		h2 Reset Password

	section.col-md-4.col-md-offset-4
		form(role='form' method='post' action='/auth/reset')
			.form-group
				label(for="email") Email
				input.form-control(type="email" id="email" name="email" focus required)

			.form-group
				label(for="reset_secret") Secret key sent to your email
				input.form-control(type="password" id="reset_secret" name="reset_secret" required)

			.form-group
				label(for="password") New password
				input.form-control(type="password" id="password" name="password" required)

			button.btn.btn-primary(type='submit') Reset
